/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #000000FF;
    background-alt: #1A1A1AFF;
    foreground:     #FFFFFFFF;
    selected:       #666666FF;
    active:         #CCCCCCFF;
    urgent:         #888888FF;
}

