@import "/home/marco1/.cache/wal/colors.scss";

.datetime-widget {
  background: transparent;
  border-radius: 12px;
  padding: 10px 20px;
  
  .time-text {
    color: $foreground;
    font-size: 110px;
    font-weight: bold;
    margin-bottom: 2px;
  }
  
  .date-text {
    color: $color14;
    font-size: 14px;
    font-weight: bold;
  }
}

