@import 'colors.css';

* {
  font-family: "SpaceMono Nerd Font", "Iosevka";
  font-weight: bold;
  /* font-size: 14px; */
  min-height: 0;
}

window#waybar {
  border-radius: 8px;
  background: @background;
}

/* .modules-left, .modules-center, .modules-right {
  background-color: @background;
  border-radius: 8px;
  padding: 0.4em 0.6em;
} */

#custom-menu {
  color:  @tertiary;
  margin-left: 1.6em;
}

/*---------Workspaces-----------------*/
workspaces {
  padding: 0 5px;
}

#workspaces button {	
  color: @surface_bright;
  margin: 16px 6px;
  padding: 5px 7px;
  min-width: 0;
  transition: all .3s ease-in-out;
}

#workspaces button.active {
  color: @tertiary;
  font-weight: bold;
  background: transparent;
  border-radius: 12px;  
  transition: all .3s ease-in-out;
}

@keyframes urgent-workspace {
	0% { color: @error }
}

#workspaces button.urgent {
	animation: urgent-workspace 1s infinite
}

#custom-lock_screen,
#custom-light_dark,
#custom-power_btn,
#custom-weather,
#custom-updater,
#custom-system,
#window,
#cpu,
#disk,
#idle_inhibitor,
#custom-updates,
#custom-clipboard,
#memory,
#clock,
#custom-playerlabel,
#bluetooth,
#custom-hyprpicker,
#pulseaudio,
#network,
#tray,
#temperature,
#taskbar,
#custom-notify,
#battery,
#mpris,
#custom-nightlight,
#hyprland-keyboard,
#power-profiles-daemon,
#backlight {
  color: @secondary;
  padding: 4px 10px;
}

#clock, #bluetooth {
  font-size: 14px;
}

#custom-power_btn {
  color: @tertiary;
  margin-right: 1.2em;
}
