@import "/home/marco1/.cache/wal/colors.scss";

* {
  all: unset;
  font-family: "SpaceMono Nerd Font";
  font-weight: bold;
}

@import "colors.scss";

@import "scss/bar.scss";
@import "scss/datetime.scss";
@import "scss/weather.scss";
@import "scss/player.scss";
@import "scss/media-player.scss";
@import "scss/resources-monitor.scss";
